@model Animal.Models.Animal

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Animal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Esp_idEspecie, "Espécie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Esp_idEspecie", (SelectList)ViewBag.Esp_idEspecie, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Esp_idEspecie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sex_idSexo, "Sexo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sex_idSexo", (SelectList)ViewBag.sex_idSexo, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sex_idSexo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StA_idStatusAnimal, "Status do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StA_idStatusAnimal", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StA_idStatusAnimal, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="input_fields_wrap">
            <div class='input_fields_append'>
                <div class="form-group">
                    <label class="control-label col-md-2">Tipo de Identificação</label>
                    <div class="col-md-10">
                        @Html.DropDownList("TpI_idTipoIdentificador", null, htmlAttributes: new { @class = "form-control", @name = "tipoIdentificador[]" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Código Identificador</label>
                    <div class="col-md-10">
                        @Html.TextBox("codigoIdentificador", null, new { @class = "form-control", @name = "codIdentificador[]" })
                    </div>
                </div>
            </div>
        </div>


        


        <div class="form-group">
            <button type="button" id="add_field_button" class="btn btn-labeled add_button">
                <span class="btn-label">
                    <i class="fa fa-check"></i>
                </span>Adicionar Identificador
            </button>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success pull-right" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        var x = 1; //initlal text box count
        $(document).ready(function () {
            var add_button = $("#add_field_button"); //Add button ID
            $(add_button).click(function (e) { //on add input button click
                $(".input_fields_append").clone().appendTo($(".input_fields_wrap"));
            });
        });
    </script>
}
